ul{
    list-style-type: none;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
}

ul li.last-five-results{
    margin: 0px 20px;
    display: inline-block;
}

.roll-history-container h2{
    margin-bottom: 0px;
}

div.roll-history{
    display: inline-flex;
    align-items: center;
}

div.roll-history span.nav{
    font-size: xx-large;
}

div.roll-history span.nav.inactive{
    color: #555;
    cursor: default;
}

div.roll-history span.nav.active{
    color: #999;
}

div.roll-history span.nav.active:hover{
    color: #ddd;
    cursor: pointer;
}

div.roll-history-container{
    display: inline-block;
    width: 50%;
    margin: auto;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}

ul li.last-five-results p.date{
    font-size: 1.25rem;
    margin: 0px auto;
}