ul{
    list-style-type: none;
    padding: 0;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
}

ul li.last-five-results{
    margin: 20px 20px;
    display: inline-block;
    scroll-snap-align: none start;
}

.roll-history-container h2{
    margin-bottom: 0px;
}

div.roll-history{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

div.roll-history span.nav{
    font-size: xx-large;
}

div.roll-history span.nav.inactive{
    color: #555;
    cursor: default;
}

div.roll-history span.nav.active{
    color: #999;
}

div.roll-history span.nav.active:hover{
    color: #ddd;
    cursor: pointer;
}

div.roll-history-container{
    display: inline-block;
    margin: auto;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    margin-bottom: 10%
}

ul li.last-five-results p.date{
    font-size: 1.25rem;
    margin: 0px auto;
}